@font-face {
    font-family:'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(http://themes.googleusercontent.com/static/fonts/dosis/v1/xIAtSaglM8LZOYdGmG1JqQ.woff) format('woff');
}
body, div, h1, h2, h3, h4, h5, h6, 
p, ul, ol, li, dl, dt, dd, img, form, 
fieldset, input, textarea, blockquote {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background: #ffffff;
}

/* comentarios */

.color{
	width: 100px;
	height: 100px;
	display: table-cell;
	text-decoration: none;
	font-family: "Dosis";
	font-size: 20px;
} 

li{
	display: block;
}

.caja{
	width: 100px;
	height: 100px;
	background-color: #767172;
	display: none;
	margin-left: 120px;
	padding-top: 50px;
}

a:hover .caja{
	display: block;
}

.celeste{
	background-color: #9BD8FF;
	color: #9BD8FF;
}

.calipso{
 	background-color: #3ffee2;
 	color: #3ffee2;
}

.naranjo{
	background-color: #de8c48;
	color: #de8c48;
}

.rosado{
	background-color: #f6546a;
	color: #f6546a ;
}
